.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  /* width: 100%; */
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  transition: transform 0.2s;
  text-align: center;
}
.product:hover {
  transform: scale(1.06);
  box-shadow: 0 0 12px rgba(17, 124, 212, 0.516);
}

.image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  /* background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
     */
  background: #f0c14b;
  border-radius: 2px;
  /* width: 100%; */
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #f0c14b;
  color: black;

  padding-left: 12px;
  padding-right: 12px;
}
.product > button:hover {
  background-color: white;
}
.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__rating {
  display: flex;
  justify-content: center;
}
